body {
  background-color: #f2ffdd;
  background-image: url();
  font-family: "Montserrat", sans-serif;
}
.head {
  background-color: #ffffff;
  text-align: center;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
.post1 {
  background-color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.post2 {
  background-color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.post3 {
  background-color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
