body {
  background-color: #422929;
  background-position: center;
  font-family: "Montserrat", sans-serif;
}
.head {
  background-color: #422931;
  text-align: center;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  background-image: url(https://images.unsplash.com/photo-1506202687253-52e1b29d3527?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80);
  background-position: top;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 20px;
  border: 3px solid #2a1a1f;
  border-radius: 5px;
}
.post {
  text-align: center;
  padding: 30px;
}
.post1 {
  background-color: #764134;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  border-color: #2a1a1f;
}
.post2 {
  background-color: #ad8350;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
}
.post3 {
  background-color: #afa060;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
}

.post-img {
  width: 400px;
  margin: 10px auto;
}
.post-preview {
  border: #afa060;
}
